
section
{
    background-color: rgb(40, 149, 163);
    max-width: 600px;
    padding: 10px;
    border:none;
    color: white;
    border-radius: 8px;
    
    
    
    

}

a
{
     text-decoration: none;


}

.movetomiddle
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}


.logo
{ 
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    margin: 0;
    margin-right:auto;
}

h5
{
    font-size: 20px;


}