
html,body
{
    height: 100%;
    
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

#content
{
    flex:1;
}


.profile-container {
    display: block;
    max-width: 400px;
    margin: 10px auto 130px auto;
    border: 1px solid #ccc;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    /* background-color: rgb(5, 42, 145); */
    text-align: center;
    animation: fadingin 0.8s ease-in-out;

}


#logOutButton
{
    position: relative;
    top:-25px;
    background: #0f75bb;
    display: block;
    margin: 5px 10px 10px 320px;
    color: white;
    font-family: 'Fredoka',sans-serif;
    padding:12px;
    font-size:16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border:none;
    border-radius:20px;
    width:100px;

}

#saveChangeButton
{
    background: #0f75bb;
    display: block;
    margin: 30px auto;
    color: white;
    font-family: 'Fredoka',sans-serif;
    padding:12px;
    font-size:16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    border:none;
    border-radius:20px;
    width:200px;
}




#logOutButton:hover,#saveChangeButton:hover
{
    
    background: #033c64;
    
   
}

#userAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1em;
    object-fit: cover;
}



.profile-container input
{
    width: 300px;
    padding: 12px 15px;
    height: 8px;
    margin: 10px 0 20px 0;
    border: 2px solid black;
    border-radius: 8px;
    font-size:16px;
    transition: all 0.3s ease;
    outline: none;
}

@keyframes fadingin
{
    from{opacity:0;transform:translateY(-20px);}
    to{opacity:1;transform:translateY(0);}

}