body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

#cart-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    gap: 15px;
}

.cart-item img {
    width: 100px;
}

.cart-item h4 {
    margin: 0;
    flex: 1;
}

.cart-item .quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-item button {
    padding: 5px 10px;
}

#cart-summary {
    margin-top: 20px;
    font-size: 18px;
}

#cart-actions {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#cart-actions a {
    text-decoration: none;
    color: blue;
}

#cart-actions button {
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px;

}
