aside {
    width: 100%;
    margin-left: 35%;
}

main > h1 {
    text-align: center;
}
#cart-summary {
    border: 2px solid black;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 18px;
    margin-left:20%;
    width: 200px;
}


#cart-summary > h3{
    margin-left: -50px;
    text-align: center;
    padding-bottom:15px;
    border-bottom: 2px solid black;
}

#cart-actions {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
}

#cart-actions a {
    text-decoration: none;
    color: blue;
}

#cart-actions button {
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px;
}
