main > div {
    margin-top: 6%;
    text-align: center;
    margin-right: 5%;
}

main #orderButton{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(37, 37, 240);
    color: white;
    border: 2px solid darkblue;

}

main > aside {
    margin-top: 2%;
    text-align: left;
    width: 500px;
    height: 420px;
    border: 2px solid black;

}
main {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

body{
    margin-top:95px;
}

.order-Title {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
}
