

footer
{
    margin-top: auto;
    background: linear-gradient(to right,#0f75bb,#5e5c5c);
    display: grid;
    color: white;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 60px;
    align-items: start;
}

footer h4
{
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer p,
footer a
{
    font-size: 14px;
    color: #ddd;
}

footer a
{
    text-decoration: none;
}

footer a:hover
{
    color: #033c64;
}



/* Categories*/
#categories nav
{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Contact*/
#contact
{
    line-height: 1.6;
    
    

    
    
}




/* refernces*/

.references
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top:20px;
    padding-left: 300px;
}

.references nav
{
    display: flex;
    align-items: center;
    gap: 14px;
    

}

.references h4
{
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.references img
{
    transition: transform 0.2s ease, opacity 0.2s ease;
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}

.references img:hover
{
    transform: scale(1.15);
    opacity: 0.8;
}



/* NEWSLETTER*/

.newsletter
{
    position: relative;
    left:20px;
    display: flex;
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 360px;
}
#newsletter h4
{
    margin-bottom: 10px;

}
.newsletter form
{
    display: flex;
    width: 100%;
}

.newsletter form > input
{
    flex:1;
    padding:14px 16px;
    font-size: 14px;
    outline: none;
    border: none;


}

.newsletter form > button
{
    width: 60px;
    border: none;
    background-color:#033c64;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.newsletter form > button:hover 
{
    background-color: #0f75bb;
}


