body{
    margin:0;
    padding-top:60px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin-right:auto;

}

header > div{
    padding: 1em;
    text-align: right;
    justify-content: right;
    display:flex;
    gap: 20px;
    height: 35px;
    background-color: rgb(19, 113, 126);
}

.logo{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    margin: 0;
    margin-right:auto;
}

.logo a {
    text-decoration: none;
    color: white;
}

.search-container {
  display: flex;
  align-items: center;
  width: 75%;
}

#searchBar{ 
    width:100%;
    height: 40px;
    margin-right: 3%;
    border-radius: 0 9px 9px 0; 
    font-size: 16;



}

#searchButton{
    background-image: url('images/SearchButtonBackground.png');

    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 9px 0 0 9px; 
    background-size: cover; 
}



.buttonHover:hover{
    transform: scale(1.1);
    color: rgb(95, 94, 94);

}

button {
    cursor: pointer;
}

#cartButton{
    background-image: url('images/cartButtonBackground.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width:35px;
    height:35px;
}



#signOutButton , #orderButton{
    border:none;
    background-color: transparent;
    font-size: 20;
    font-weight: bold;
    text-decoration: underline;
}

header > nav {
    padding: 1em;
    text-align: left; 
    display:flex;
    justify-content: left;
    gap: 20px;
    height: 10px;
    background-color: rgb(40, 149, 163);
}
