

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;

}

header > div{
    padding: 1em;
    align-items: center;
    display:flex;
    gap: 20px;
    height: 35px;
    background: linear-gradient(to right,#0f75bb,#5e5c5c);

}


.logo:hover {
    cursor: pointer;
}


.logo{
    margin-right: auto;
   
    
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 10px;
    max-width: 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: #0f75bb;
}

.logo p
{

    color: white;
    margin-top: 18px;
    margin-left: 5.5px;
    
    font-weight: bold;

    
}




.search-container {
  display: flex;
  align-items: center;
  width: 75%;
  position: relative;
  color: black;
}

#searchBar{ 
    width:100%;
    height: 40px;
    margin-right: 3%;
    border-radius: 0 9px 9px 0; 
    font-size: 16px;


}

#searchButton{
    background-image: url('images/SearchButtonBackground.png');
    height: 40px;
    width: 40px;
    background-color: #5e5c5c;
    border-radius: 9px 0 0 9px; 
    background-size: cover; 
}


#searchBar,#searchButton {
    box-sizing: border-box;
    height: 40px;
}

/*.buttonHover:hover{
    transform: scale(1.1);
    

}*/

#signOutButton:hover
{
     
     color: #033c64;

}

#orderButton:hover
{
     
     color: #033c64;

}

#cartButton:hover
{
    transform: scale(1.5);
}

button {
    cursor: pointer;
}

#cartButton{
    transition: transform 0.2s ease;
    background-image: url('images/cartButtonBackground.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width:35px;
    height:35px;
}



#signOutButton , #orderButton{
    border:none;
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
}

header > nav {
    padding: 1em;
    text-align: left; 
    display:flex;
    justify-content: left;
    gap: 20px;
    height: 15px;
    background: linear-gradient(to right,#0f75bb,#5e5c5c);

}

header > nav > ul {
    width: 95%;
    display: flex;
    justify-content: left;
    gap: 4%;
    list-style: none;
    padding-left: 2%;
    margin-right: 2%;
    margin-top: -6px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold   ;
    text-decoration: none;
}

header > nav > ul >li >a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    
}

header > nav > ul >li >a:hover{
    color: #033c64;
    
}



#results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0 0 9px 9px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.search-result {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.search-result:last-child {
    border-bottom: none;
}

.search-result:hover {
    background-color: #f0f0f0;
}

