body > header > div{
    text-align: center;
    margin-top: 10%;
    width: 40%;
    margin-left:35%;
}

.login-container{
    border: 1px solid black;

}

#logInButton{
    margin-top: 10px;
    margin-bottom: 10px;
}
#username{
    margin-bottom: 15px;
}
#password{
    margin-bottom: 10px;
}