body{
    margin-top: 120px;
}

.order-Title {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
}

aside#summary
{
    width: 100%;
    max-width: 500px;
    border: 2px solid #000;
    padding: 25px;
    border-radius: 12px;
    background-color: #fff;
}


