html,body
{
    height: 100%;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

#content
{
    flex:1;
}


.order-Title {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid;
}

aside#summary
{
    width: 100%;
    max-width: 500px;
    border: 2px solid;
    padding: 25px;
    border-radius: 12px;
    /* background-color: #fff; */
    margin: 10px auto;
}




.confo
{
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

#returnhome a
{
    text-decoration: none;
    color: #0f75bb;
    transition: color 0.2 ease;



}



#returnhome a:hover
{
    
    color: #033c64;
    



}



