:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: black;
  --secondary-text: #232738;
  --primaty-color: #3a435d;
  --accent-color: #0071ff;
}

.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: white;
  --secondary-text: #a4a5b8;
  --primaty-color: #3a435d;
  --accent-color: #0071ff;
}


body{
    background-color: var(--base-color);
    color: var(--text-color)
}